@tailwind base;
@tailwind components;
@tailwind utilities;

.div2 button{
    margin: 10px;
    border-radius: 10px;
}

.div2 p{
    align-items: center;
}

.div2{
    align-items: center;
}

.div2 div{
}

html{
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(179,98,22,1) 0%, rgba(255,179,0,1) 87%);
}

.rainbow {
    background: linear-gradient(90deg, red, orange, yellow, green, blue, indigo, violet);
    background-size: 400% 400%;
    animation: rainbowAnimation 10s linear;
}

@keyframes rainbowAnimation {
    0% { background-position: 0% 50%; }
    100% { background-position: 100% 50%; }
}